@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: hsl(212, 45%, 89%);
}

.card {
    background:hsl(0, 0%, 100%);
    width: 300px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px hsl(220, 5%, 55%);
}

.innerCard {
    text-align: center;
}

.innerCard img {
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.text {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    
}

#headerText {
    font-weight: 700;
    font-size: 24px;
    color: hsl(218, 44%, 22%);
    padding: 0px 10px;
}

#contentText {
    font-weight: 300;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0px 20px;
}

.footer {
    text-align: center;
    margin: 40px;

}