/* CSS for flex cards */

body {
    background: #f1f1f1;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}


.card {
    max-width: 200px;
    max-height: 400px;
    border: 3px solid #d3d3d3;
    box-shadow: 4px 2px 15px #d3d3d3;
    border-radius: 20px;
    margin: 20px;
}

.sample-image {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}

.text {
    font-family: sans-serif;
    text-align: center;
    padding: 5px;
}

#title {
    text-transform: uppercase;
}

#subhead {
    font-size: 12px;
}

#content {
    font-size: 10px;
}

/* CSS for side by side */
.horizon-container {
    max-width: 500px;
    display: flex;
    border: 1.5px solid #868585;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #868585;
}

.horizon-img {
    width: 250px;
    border-radius: 10px 0px 0px 10px;
}

.horizon-text {
    width: 250px;
    padding-left: 100px;
    align-self: center;
    font-family: sans-serif;
    
}

@media screen and (max-width: 500px) {
    .horizon-container {
        max-width: 200px;
    }

    .horizon-img {
        width: 100px!important;
    }

    .horizon-text {
        width: 100px;
        padding-left: 20px;
        font-size: 12px;
    }

}